<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="../css/bootstrap.min.css"
    />

    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
		{% block content %}
    {% endblock %}

    <script
      src="../js/jquery-3.5.1.slim.min.js"
    ></script>
    <script
      src="../js/bootrap-bundle.min.js"
    ></script>
  </body>
</html>
